NODE_ENV=staging
# NODE_ENV=production
PORT=*****


DB_HOST="*****"
DB_PORT="*****"
DB_USERNAME="*****"
DB_PASSWORD="*****"
DB_NAME="*****"

REDIS_HOST=*****
REDIS_PORT=*****
REDIS_DB=*****

APP_EMAIL="*****"
GOOGLE_APP_PASSWORD="*****"

APP_NAME="*****"

GOOGLE_CLIENT_ID="*****"

TWILIO_ACCOUNT_SID=*****
TWILIO_AUTH_TOKEN=*****
TWILIO_SENDER_PHONE_ID="*****"

AWS_ACCESS_KEY="*****"
AWS_SECRET_ACCESS_KEY="*****"
AWS_REGION="*****"
AWS_S3_BUCKET="*****"

JWT_SECRET="*****"

FACE_BOOK_APP_ID="*****"
FACE_BOOK_SECRET="*****"

SUPER_ADMIN_EMAIL="*****"
SUPER_ADMIN_PASSWORD="*****"

FIREBASE_PROJECT_ID="*****"
FIREBASE_CLIENT_EMAIL="*****"
FIREBASE_PRIVATE_KEY="*****"

STRIPE_SECRET_KEY="*****"
STRIPE_WEBHOOK_SECRET="*****"